.navbar {
    background: linear-gradient(-45deg, #1a1d23, #131e2a );
    background-size: 400% 400%;
    animation: navbarGradient 10s ease infinite; 
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; 
}

.navbar .steam-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.navbar .steam-logo img {
    height: 100%;
    width: auto;
}

.navbar .github-logo a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.navbar .github-logo a:hover {
    color: #61dafb;
}


@keyframes navbarGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        height: 80px; /* Reduce la altura de la barra */
        padding: 0 10px;
    }

    .steam-logo img {
        height: 60%; /* Ajusta el tamaño del logo */
    }

    .navbar h2 {
        font-size: 18px; /* Reduce el tamaño del texto */
    }

    .github-logo a {
        font-size: 40px; /* Ajusta el tamaño del ícono de GitHub */
    }
}